<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}} | {{site.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        {{#dev}}
        <link href="{{assets}}/css/style.css" rel="stylesheet">
        <link href="{{assets}}/css/theme.css" rel="stylesheet">
        {{/dev}}
        {{#prod}}
        <link href="{{assets}}/css/style.min.css" rel="stylesheet">
        <link href="{{assets}}/css/theme.min.css" rel="stylesheet">
        {{/prod}}
        
        <!-- bower:css -->
        <!-- endbower -->

        <script src="{{assets}}/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>   

    {{> body }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{assets}}/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

    <!-- build:js {{assets}}/js/vendor.min.js -->
    <script src="{{assets}}/js/vendor/jquery.waypoints.js"></script>
    <script src="{{assets}}/js/vendor/jquery.easing.js"></script>
    <script src="{{assets}}/js/vendor/slick.min.js"></script>
    <!-- bower:js -->    
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(src) {{assets}}/js/app.min.js -->
    <script src="{{assets}}/js/helper.js"></script>
    <script src="{{assets}}/js/app.js"></script>
    <!-- endbuild -->
    </body>
</html>